<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Orders</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main_page.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='check_orders.css')}}">
</head>
<body>
    <div class="container">
        <h1>All Orders</h1>
        <div id="orders-container">
            {% for order in orders %}
            <div class="order-card">
                <h2>Order #{{ order.id }}</h2>
                <p>Total: ${{ order.total_price }}</p>
                <a href="{{ url_for('order_details', order_id=order.id) }}" class="view-details">View Details</a>
            </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('main_page') }}" class="dashboard-button">Back to Dashboard</a>
    </div>
</body>
</html>
